<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Web Scraper</title>
</head>

<body>
    <div class="container">
        <p>Please enter the website URL</p>
        <div id="form-wrapper">
            <form method="POST" id="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" name="url" class="form-control" id="input-url"
                        placeholder="https://www.somegamingsite.com/" required>
                </div>
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>


<script>
    // const form = document.getElementById('form')
    // const csrf = document.getElementsByName('csrfmiddlewaretoken')
    // const url = document.getElementById('input-url')
    // function formSubmitHandler() {
    // console.log('Form submitted successfully')
    // var btn = document.getElementById('submit-button')
    // btn.textContent = 'Submit'
    // btn.classList.remove('btn-success')
    // btn.classList.add('btn-primary')
    // }
    // function getCookie(name) {
    //     let cookieValue = null;
    //     if (document.cookie && document.cookie !== '') {
    //         const cookies = document.cookie.split(';');
    //         for (let i = 0; i < cookies.length; i++) {
    //             const cookie = cookies[i].trim();
    //             // Does this cookie string begin with the name we want?
    //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
    //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                 break;
    //             }
    //         }
    //     }
    //     return cookieValue;
    // }
    // const csrftoken = getCookie('csrftoken');

    // $('#form').on('submit', function (event) {
    //     event.preventDefault();
    //     console.log("form submitted!")
    //     $.ajax({
    //         url: "http://localhost:8000/", // the endpoint
    //         type: "POST", // http method
    //         data: { url: $('#input-url').val() }, // data sent with the post request
    //         headers: {
    //             'X-CSRFToken': csrftoken,
    //         },
    //         // handle a successful response
    //         success: function (response) {
    //             $('#input-url').val(''); // remove the value from the input
    //             // console.log(json); // log the returned json to the console
    //             console.log("success"); // another sanity check
    //         },
    //         // handle a non-successful response
    //         // error: function (xhr, errmsg, err) {
    //         //     $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
    //         //         " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
    //         //     console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    //         // }
    //     });
    //     return false;
    // });
    
    function submitButtonHandler() {
        console.log('Submit Button clicked')
        var btn = document.getElementById('submit-button')
        btn.textContent = 'Submitting...'
        btn.classList.remove('btn-primary')
        btn.classList.add('btn-success')
    }
</script>